<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="credit" class = "com.madhu.beans.CreditCard"></bean>
   <bean id="debit"  class ="com.madhu.beans.DebitCard"></bean>
   <bean id ="pp" class = "com.madhu.beans.ProcessPayment">
   
   <property name="ipay" ref="debit"></property>
   </bean>

</beans>